// BLOG & BLOG ARTICLE
.post-header {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.post-date {
  text-transform: uppercase;
}

.blog-page {
  .post {
    position: relative;
    margin-bottom: 55px;

    &:last-child {
      margin-bottom: 25px;
    }
  }

  .post-header {
    position: absolute;
    width: 220px;
    padding-right: 20px;
    margin-top: 0;

    &.bottom {
      bottom: 0;
    }

    &.top {
      top: 0;
    }
  }

  .post-title {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    color: #333;
    text-transform: uppercase;

    a {
      color: #333;
    }
  }

  .post-date {
    font-size: 12px;
    color: #888;
  }

  .post-content {
    position: relative;
    margin-left: 240px;

    .image-container:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  .post.fixed-header {
    .post-header {
      position: fixed;
      top: 30px;
      float: left;
      width: 220px;
      padding-right: 20px;
    }

    .post-header + .post-content {
      display: inherit;
      margin-left: 240px;
    }
  }

  .post-readmore {
    margin: 0 70px;

    @media screen and (max-width: $mobile - 1) {
      margin: 0;
    }
  }

  .post-read-more-btn {
    display: inline-block;
    padding: .31em .75em;
    font-size: 16px;
    line-height: 1.7em;
    color: rgba(0,0,0,.5);
    cursor: pointer;
    background: #dadada;
    border: 0;

    &:hover {
      opacity: .75;
    }
  }
}

.post-page,
.blog-page {
  .edy-padding-resizer-wrapper {
    width: 100%;
  }

  .post-content .content-formatted,
  .post-content .edy-texteditor-view {
    & > :not(.image-container):not(table):not(.embed-container):not(.table-container):not(.edy-editable) {
      &:last-child {
        margin-bottom: 0;
      }
    }

    & > * {
      margin-bottom: 20px;
    }
  }

  .post-content {
    .content-formatted {
      blockquote {
        margin: 0 70px 20px 120px;
        font-weight: 600;
        text-align: right;

        &:last-child {
          margin-bottom: 0;
        }
      }

      table {
        width: 100%;
      }
    }
  }

  .post-excerpt,
  .post-body {
    margin: 0 70px 20px;
  }
}

.post-page {
  .post-header {
    margin-bottom: 30px;
  }

  .post-title {
    margin: 0 0 10px;
    font-size: 50px;
    line-height: 1;
  }

  .post-date {
    font-size: 18px;
    font-weight: 400;
    color: #c33;
  }

  .post-content {
    display: inline-block;
    width: 100%;
    max-width: 580px;
    vertical-align: top;
  }

  .post-excerpt,
  .post-body {
    @include query($mobile) {
      margin: 0 0 20px;
    }
  }

  .image-container {
    margin-bottom: 25px;
  }
}

.blog-header {
  position: relative;
  min-height: 46px;
  margin-top: -15px;
  margin-bottom: 35px;

  @include query($mobile) {
    min-height: 22px;
    margin-bottom: 15px;
  }
}

.add-post-container {
  position: absolute;
  bottom: 0;
  left: 0;
}

// BLOG TAGS
.tags-container {
  z-index: 10;
  margin-top: 0;
  margin-left: 100px;
  text-align: right;
}

.tags {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;

  .tags-list,
  .tag-link {
    color: rgba(0,0,0,.5);
  }
}

.blog-page .tags {
  display: inline-block;
  padding: 12px;
  line-height: 1.8;
  color: rgba(0,0,0,.9);
  text-transform: uppercase;
  background-color: rgba(0,0,0,.05);

  .tag-link {
    margin-left: 10px;

    &.active {
      padding-bottom: 2px;
      color: rgba(0,0,0,.9);
      border-bottom: 2px solid rgba(0,0,0,.25);
    }
  }
}

.post-page .tags {
  position: relative;
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 70px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;

  .tag-icon {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 20px;
    height: 20px;
    background: url('../assets/ico-tags.svg') no-repeat center center;
    opacity: .5;

    .no-svg & {
      background-image: url('../images/ico-tags.png') no-repeat center center;
    }
  }

  .tags-list {
    margin-left: 30px;
    line-height: 1.7;
  }
}

//.post-nav {
//}

.post-nav-inner {
  @media screen and (min-width: $mobile + 1) {
    display: flex;
  }
}

.post-nav-link {
  position: relative;
  display: block;
  flex: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  color: currentColor;

  &:hover {
    .post-nav-direction {
      opacity: 1;
    }

    .post-nav-title {
      opacity: 1;
    }
  }

  &:nth-child(2) {
    &::before {
      @media screen and (max-width: $mobile) {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        border-top-color: currentColor;
        border-top-style: solid;
        border-top-width: 1px;
        content: '';
        opacity: .2;
      }
    }
  }

  @media screen and (max-width: $mobile) {
    text-align: center;
  }
}

.post-nav-link-older {
  @media screen and (min-width: $mobile) {
    padding-right: 20px;
  }
}

.post-nav-link-newer {
  @media screen and (min-width: $mobile) {
    padding-left: 20px;
    text-align: right;
  }
}

.post-nav-direction {
  font-size: 13px;
  letter-spacing: .2em;
  text-transform: uppercase;
  opacity: .3;
}

.post-nav-title {
  margin-top: 6px;
  font-size: 18px;
  opacity: .7;
}

@include query($mobile) {
  // BLOG & BLOG ARTICLE
  .blog-page {
    .post {
      margin-bottom: 30px;
    }

    .post-header,
    .post-content {
      display: block;
      width: auto;
      max-width: 100%;
      margin-left: 0;
    }

    .post-body,
    .post-excerpt {
      margin-right: 0;
      margin-left: 0;
    }

    .post-header {
      position: relative;
      margin-bottom: 10px;
    }

    .post-content {
      min-height: initial !important;
      margin-left: 0;
    }

    .post-excerpt:last-child {
      margin-bottom: 0;
    }
  }

  .post-page,
  .blog-page {
    .content-body:first-of-type {
      margin-top: 30px;
      margin-bottom: 30px;
    }

    .post-content {
      .content-formatted,
      .edy-texteditor-view {
        & > :not(.image-container):not(table):not(.embed-container):not(.table-container):not(.edy-editable) {
          margin: 0 0 20px;
        }
      }
    }
  }

  // BLOG TAGS
  .post-page {
    .tags {
      margin-left: 0;
    }
  }

  .tags-container {
    padding-bottom: 45px;
    margin-top: 35px;
    margin-bottom: 20px;
    margin-left: 0;
  }
}
