// BLOG COMMENTS
.comments {
  display: inline-block;
  width: 100%;
  max-width: 312px;
  margin-left: 42px;
  font-family: $font-one;
  vertical-align: top;
}

.comment-header {
  line-height: 1.6;

  .edy-btn-removecomment {
    vertical-align: -1px;
  }
}

.comments-title {
  margin: 0 0 7px;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.comment-form {
  form {
    margin-bottom: 23px;
  }

  input,
  textarea {
    font-family: $font-one;
  }

  .form_field {
    margin-bottom: 5px;
  }

  .form_field_textfield,
  .form_field_textarea {
    width: 100%;
    padding: 0;
    line-height: 1.6;
    color: rgba(0,0,0,.8);
  }

  .form_field_textarea {
    min-height: 30px;
    padding: 6px 0;
    line-height: 1.1;
  }
}

.comment {
  margin-bottom: 15px;
  font-size: 14px;
}

.comment-author {
  font-weight: 400;
}

.comment-date {
  display: inline-block;
  color: #919191;
}

.comment-body {
  color: rgba(0,0,0,.5);
}

@include query($tablet) {
  .comments {
    display: block;
    width: auto;
    max-width: 580px;
    margin-left: 70px;
  }

  .comments-title {
    margin-top: 30px;
  }
}

@include query($mobile) {
  .comments {
    margin-bottom: 35px;
    margin-left: 0;
  }
}

.hide-article-comments {
  display: none;
}
