// CONTENT
.container {
  .content {
    margin-bottom: 30px;

    @include query($tablet) {
      position: relative;
      margin-bottom: 20px;
    }
  }

  .content-body {
    .blog-page & {
      width: 100% !important;
      margin-bottom: 70px;
      font-size: 24px;
      line-height: 1.5;
      color: rgba($black, .5);
    }

    .content-page & {
      display: inline-block;
      width: calc(100% - 144px);

      @include query($tablet) {
        display: block;
        width: auto;
      }
    }

    @include query($tablet) {
      max-width: 100%;
      margin-bottom: 50px;
    }

    @include query($mobile) {
      margin-bottom: 0;
    }
  }

  .content-header {
    margin-bottom: 45px;

    h1 {
      margin: 0;
      font-size: 50px;
      line-height: 1;
      letter-spacing: -3px;
    }
  }
}
