// FOOTER
.footer {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 30px;
  font-family: $font-one;
  font-size: 12px;
  color: rgba(0,0,0,.8);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);

  .front-page & {
    padding: 0 20px;
    box-sizing: border-box;
  }

  &.footer-fixed {
    position: fixed;
    right: 0;
    left: 0;
    width: 215px;
    padding: 20px 20px 20px 25px;
    margin-top: 0;
    margin-bottom: 0;
    background: #fff;
    background: linear-gradient(to bottom, rgba(255,255,255,.001) 0%, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 100%);

    .gradient-overlay {
      display: block;
      opacity: 1;
    }

    &.expanded {
      .gradient-overlay {
        display: none;
      }
    }
  }

  &.footer-animated {
    -webkit-transition: bottom .35s ease-in-out;
    transition: bottom .35s ease-in-out;
  }

  .gradient-overlay {
    position: absolute;
    top: 30px;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    background: transparent;
    background: linear-gradient(to bottom, rgba(255,255,255,.001) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
    opacity: 0;
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
  }
}
.voog-reference-wrap {
  &,
  .front-page & {
    margin-top: 30px;

    @include query($mobile) {
      padding: 0;
    }
  }
}

.voog-reference {
  a {
    display: block;
    opacity: .5;
    width: 35px;
    height: 8px;
    font-size: 0;
    background-size: cover;

    .no-svg & {
      background-image: url('../images/ico-voog-black.png');
    }

    .svg & {
      background-image: url('../assets/ico-voog-black.svg');
    }

    &:hover {
      opacity: 1;
    }
  }
}

@include query($mobile) {
  .footer {
    width: auto;
    max-width: 100%;
    padding: 10px 10px 10px 0;

    .front-page & {
      padding: 0;
    }

    &.footer-fixed {
      padding-top: 7px;
      padding-bottom: 7px;
    }
  }
}
