// SIDEBAR
.sidebar {
  display: inline-block;
  width: 100%;
  font-family: $font-one;
  vertical-align: top;
}

.sidebar-left {
  max-width: 120px;
  margin-right: 20px;

  .content-formatted h1 {
    margin: 0 0 3px;
    font-family: $font-one;
    font-size: 16px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
  }
}

@include query($tablet) {
  .sidebar-left {
    position: relative;
    z-index: 1;
    float: right;
    max-width: 105px;
    padding: 15px 5px 20px;
    margin-bottom: 20px;
    margin-right: 0;
    margin-left: 20px;
    text-align: right;
    background: #e0e0e0;
  }

  .sidebar-right {
    display: block;
    float: right;
    max-width: 85%;
    padding-left: 15%;
    margin-top: 0;
    margin-bottom: 25px;
    text-align: right;

    .content-formatted {
      display: inline-block;
      width: auto;
      text-align: left;

      h1 {
        font-size: 35px;
      }
    }
  }
}
