// VARIABLES
// Colors
$white: #ffffff;
$black: #000000;
$search-color: #1B2124;
$search-bg: #f4f4f4;
$search-highlight: #F9EC5A;

// Media queries
$tablet: 999px;
$mobile: 640px;

// Reusable values
// Define the reusable variables here.
// For example the width of several different elements, that allways have to be with the same height:
// $box-width: 400px;
$search-height-1: 30px;
$search-height-2: 40px;


/////// Temporary vars for design editor. Remove unnecessary ones:

$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);

$main-color: #333;
$second-color: $color-black;
$third-color: #818181;
$fourth-color: $color-white;
$link-color: #919191;
$link-color: $third-color;
$focus-color: #f9ec5a;

$black: $second-color;
$white: $fourth-color;

$bg-color: #f4f4f4;
$bg-color-dark: #2b2b2b;

$error-color: #c70909;
$success-color: #409e13;

// FONT SIZES
$h1-size: 40px;
$h2-size: 24px;
$h3-size: 20px;
$font-size: 18px;
$line-height: 1.45;

$font-main: "Montserrat", Helvetica, Arial, sans-serif;

$main-width: 700px;

$break-medium: 600px;
$break-small: 500px;

$header-inner-height: 28px;

$pad-50: 50px;

