// FORMATTED CONTENT
.content-formatted {
  @include hyphenate(true);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 17px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #c33;
    text-transform: uppercase;
  }

  h1 {
    font-size: 36px;
    line-height: 1;
  }

  h2 {
    font-size: 24px;
  }

  h3,
  h4,
  h5,
  h6 {
    font-size: 18px;
  }

  p {
    margin: 0 0 25px;

    &:last-child {
      margin: 0;
    }
  }

  a {
    color: rgba(0,0,0,.5);

    &:hover {
      color: rgba(0,0,0,.8);
    }
  }

  img {
    height: auto;
    max-width: 100%;
    border: 0;
  }

  b,
  strong {
    font-weight: 600;
  }

  pre,
  code,
  iframe,
  table,
  form {
    @include hyphenate(false);
  }

  pre,
  code {
    font-size: 14px;
    @include bg(#fafafa);
  }

  pre {
    padding: 10px;
    overflow: auto;

    code {
      display: inline;
      padding: 0;
      line-height: inherit;
      white-space: pre;
      background-color: transparent;
      @include word-wrap(normal);
    }
  }

  code {
    display: inline-block;
    padding: 5px;
    @include word-wrap(break-word);
  }

  span {
    line-height: 1;
  }

  // TABLES
  table {
    border-collapse: collapse;

    .public & {
      word-break: initial;
    }

    td {
      padding: 10px;
      border-top: 1px solid #e6e6e6;
      border-bottom: 1px solid #e6e6e6;
    }
  }

  .overthrow {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  .horizontal-scroll {
    border-right: 1px dashed #e6e6e6;
    border-left: 1px dashed #e6e6e6;
  }

  // IMAGE CONTAINERS
  .edy-positionable-container-maxwidth {
    .public & {
      width: auto !important;
      max-width: none !important;
      margin-right: -70px !important;
      margin-left: -70px !important;
    }
  }

  .edy-positionable-container-left,
  .edy-positionable-container-right {
    // TODO: Remove the !important.
    margin-bottom: 0 !important;
  }

  .edy-positionable-container-left {
    margin-right: 25px;
  }

  .edy-positionable-container-right {
    margin-left: 25px;
  }
}

@include query($mobile) {
  .content-formatted {
    .edy-img-container {
      margin: 0 -25px;
    }

    .form_field_textfield,
    .form_field_textarea,
    .form_field_file {
      width: 100%;
    }
  }
}
