// CONTENT
.content {
  margin-bottom: 30px;
}

.content-bottom {
  margin-left: 125px;
}

.content-page {
  .content-body {
    display: inline-block;
    width: 85%;
  }
}

.content-header {
  margin-bottom: 45px;

  h1 {
    margin: 0;
    font-size: 50px;
    line-height: 1;
    letter-spacing: -3px;
  }
}

@include query($tablet) {
  .content {
    position: relative;
  }

  .content-body {
    max-width: 100%;
  }

  .container .content-body {
    max-width: 100%;
    margin-bottom: 50px;
  }
}
