// FOOTER
.footer {
  position: relative;
  display: inline-block;
  margin-bottom: 30px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #333;
  color: rgba(0,0,0,.8);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.footer {
  width: 100%;
}

.footer.footer-fixed {
  position: fixed;
  right: 0;
  left: 0;
  width: 215px;
  padding: 20px 20px 20px 25px;
  margin-top: 0;
  margin-bottom: 0;
  background: #fff;
  background: linear-gradient(to bottom, rgba(255,255,255,.001) 0%, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 100%);
}

.footer.footer-animated {
  -webkit-transition: bottom .35s ease-in-out;
  transition: bottom .35s ease-in-out;
}

.footer .gradient-overlay {
  opacity: 0;
  position: absolute;
  display: none;
  top: 30px;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
  background: linear-gradient(to bottom, rgba(255,255,255,.001) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
  -webkit-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
}

.footer-fixed .gradient-overlay {
  display: block;
  opacity: 1;
}

.footer-fixed.expanded .gradient-overlay {
  display: none;
}

.footer .search {
  max-width: 100%;
}

.voog-reference {
  margin: -10px auto 25px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
}

.voog-reference a {
  color: #333;
}

.voog-reference a:hover {
  color: #555;
}

@include query($mobile) {
  .footer {
    width: auto;
    max-width: 100%;
    padding: 10px 50px 10px 0;
  }

  .footer.footer-fixed {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .footer .search {
    display: none;
  }
}
