// FORMS
.content-formatted form,
.content-formatted .form {
  margin-top: 30px;
  margin-bottom: 35px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #919191;
}

.container .placeholder {
  height: 1 !important;
}

.form_field_error,
.form_error {
  font-weight: 700;
  color: #c33;
}

.form_notice {
  font-weight: 700;
  color: #3c3;
}

.form_error,
.form_notice {
  margin-bottom: 25px;
  font-size: 1.2em;
}

.form_field {
  margin-bottom: 15px;
}

.form_field label {
  display: block;
  padding: 2px 0 1px;
  color: #919191;
}

.form_field label,
.form_field_textfield,
.form_field_textarea,
.form_field_select,
.form_field_file,
.form_submit input {
  font-size: 16px;
}

.form_field_textfield,
.form_field_textarea,
.form_field_file {
  margin: 0;
  border: 0;
  outline: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form_field_checkbox,
.form_field_radio {
  margin: 3px 5px 3px 2px;
  vertical-align: 2px;
}

.form_field_checkbox {
  margin-left: 1px;
}

.form_field_textarea,
.form_field_textfield,
.form_submit input {
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
}

.form_field_textarea,
.form_field_textfield {
  border-bottom: 1px solid #dadada;
}

.form_field_textarea {
  width: 30%;
  max-width: 100%;
  min-height: 86px;
  overflow: auto;
}

.form_field_size_medium {
  width: 60%;
}

.form_field_size_large {
  width: 100%;
}

.form_submit input {
  padding: 5px 12px;
  margin: 0;
  color: #888;
  cursor: pointer;
  background: #dadada;
  border: 0;
}
