// GENERAL
.scrollpos {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  background: #fff;
}

.cfx:after {
  display: block;
  height: 0;
  clear: both;
  content: ' ';
  visibility: hidden;
}

%button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &::-moz-focus-inner {
    padding: 0;
    border: none;
  }
}

// CMS DEFAULT STYLES OVERRIDES
.dark-background {
  .edy-empty-bordered {
    color: rgba(#fff, .5);
    border-color: rgba(#fff, .5);
  }
  .placeholder {
    color: rgba(#fff, .5);
  }
  .edy-content-element-hover {
    border-width: 1px;
    border-style: solid;
    border-color: rgba(#fff, .2);
  }
  .edy-texteditor-active {
    outline-width: 1px;
    outline-style: solid;
    outline-color: rgba(#fff, .4);

    &:hover {
      outline-color: rgba(#fff, .63);
    }
  }
}


.voog-bg-picker-btn {
  left: 0;
  padding: 0;
  cursor: pointer;
  border: none;
}

body {
  padding: 0;
  margin: 0 auto;
  font: 300 20px/1.4 "EB Garamond", "Georgia", serif;
  color: #222;

  @include query($mobile) {
    &.voog-search-visible {
      position: fixed;
      overflow: hidden;
    }
  }
}

.edy-bar-open:after {
  display: table;
  clear: both;
  content: ' ';
}

.container {
  .content-page & {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 25px;
  }

  a {
    text-decoration: none;

    img {
      border: 0;
    }
  }

  .horizontal-line {
    width: 220px;
    height: 2px;
    max-width: 100%;
    margin-bottom: 12px;
    background: rgba(0,0,0,.65);
  }
}

// FRONT PAGE
.front-page {
  .wrap {
    max-width: 940px;
    margin: 0 auto;
  }

  .content {
    .wrap {
      padding: 41px 20px 17px;

      @include query($mobile) {
        padding-right: 0;
        padding-left: 0;
      }
    }
  }

  .background-color {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  .content-body {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    line-height: 1.5;
    color: rgba(0,0,0,.5);

    &:empty {
      display: none;
    }
  }
}

.header-banner {
  position: relative;
  min-height: 350px;
  background-size: cover;
  background-position: center center;

  .flexbox & {
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
  }

  @include query($mobile) {
    margin-right: -20px;
    margin-left: -20px;
  }

  .header-body {
    position: relative;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;

    .no-flexbox & {
      display: table;
      width: 100%;
      min-height: 350px;
      margin: 0 auto;
    }
  }

  .header-inner {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;

    .no-flexbox & {
      display: table-cell;
      vertical-align: middle;
    }

    @include query(452px) {
      min-width: 0;
    }

    &,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    pre,
    code {
      color: rgba(0,0,0,.8);
    }

    table {
      margin: 0 auto;
    }

    ul,
    ol,
    dl,
    table,
    pre,
    code,
    form,
    .form {
      text-align: left;
    }
  }

  .edys-gallery-area,
  .edy-gallery-area {
    font-size: 0;

    .edys-gallery-item,
    .edy-gallery-item,
    .edy-gallery-sortable-placeholder {
      display: inline-block;
      float: none;
      margin: 3px 0 3px 6px;
    }
  }

  .edy-ca-empty {
    max-width: 412px;
    margin: 0 auto;
  }

  .edy-empty-bordered {
    padding: 56px 40px 52px;
  }
}

// COMMON PAGE
.common-page {
  .edy-img-container {
    margin-left: -80px;
  }

  .content-header {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 46px;
    line-height: 1;
  }
}

@include query($tablet) {
  .common-page {
    .content-body {
      display: block;
      max-width: 100%;
    }

    .content-second {
      display: inline-block;
      margin-left: 0;
    }

    .edy-img-container {
      margin-left: 0;
    }
  }
}

@include query($mobile) {
  .container {
    padding: 0;
    margin: 0 20px;
  }

  // COMMON PAGE
  .common-page .content-body {
    width: 100%;
  }
}
