// GENERAL
.scrollpos {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  background: #fff;
}

.cfx:after {
  display: block;
  height: 0;
  clear: both;
  content: ' ';
  visibility: hidden;
}

body {
  padding: 0;
  margin: 0 auto;
  font: 300 20px/1.4 "EB Garamond", "Georgia", serif;
  color: #222;
}

body.edy-bar-open {
  padding-bottom: 150px;
}

.container {
  max-width: 940px;
  padding: 0 25px;
  margin: 0 auto;

  a {
    text-decoration: none;

    img {
      border: 0;
    }
  }

  .horizontal-line {
    width: 220px;
    height: 2px;
    max-width: 100%;
    margin-bottom: 12px;
    background: rgba(0,0,0,.65);
  }
}

// FRONT PAGE
.front-page {
  .content-body {
    width: 100%;
    max-width: 90%;
    margin-bottom: 70px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    line-height: 1.5;
    color: rgba(0,0,0,.5);

    &:empty {
      display: none;
    }
  }
}

// COMMON PAGE
.common-page {
  .edy-img-container {
    margin-left: -80px;
  }

  .content-header {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 46px;
    line-height: 1;
  }
}

@include query($tablet) {
  .common-page {
    .content-body {
      display: block;
      max-width: 100%;
    }

    .content-second {
      display: inline-block;
      margin-left: 0;
    }

    .edy-img-container {
      margin-left: 0;
    }
  }
}

@include query($mobile) {
  .container {
    padding: 0;
    margin: 0 20px;
  }

  // COMMON PAGE
  .common-page .content-body {
    width: 100%;
  }
}
