// HEADER
.header {
  position: relative;
  z-index: 10;
  min-height: 27px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  // -webkit-transform: translateZ(0);
  // transform: translateZ(0);

  .front-page & {
    margin-top: 33px;
    margin-bottom: 33px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .content-page & {
    margin-top: 50px;
    margin-bottom: 50px;

    @include query($mobile) {
      margin-top: 0;
      margin-bottom: 30px;
    }
  }

  @include query($mobile) {
    position: static;
  }

  &.header-fixed {
    position: fixed;
    top: -200px;
    right: 0;
    left: 0;
    z-index: 10;
    padding: 15px 25px;
    margin-top: 0;
    margin-bottom: 0;
    background: rgba(255,255,255,.95);
    -webkit-box-shadow: 0 0 10px 0 #888;
    box-shadow: 0 0 10px 0 #888;

    .voog-search-visible & {
      display: none;
    }
  }

  &.header-animated {
    -webkit-transition: top .3s ease-in-out;
    transition: top .3s ease-in-out;
  }

  .header-inner {
    max-width: 940px;
    padding: 0;
    margin: 0 auto;

    .header-title {
      @include hyphenate(true);
      display: table-cell;
      max-width: 810px;
      margin: 0;
      margin-right: 13px;
      font-size: 24px;
      font-weight: 700;
      line-height: 1.1;
      text-transform: uppercase;
      vertical-align: top;

      .editmode & {
        min-width: 100px;
      }

      a {
        color: rgba(0,0,0,.8);
        text-decoration: none;

        &:hover {
          color: rgba(0,0,0,.75);
        }
      }
    }
  }

  .header-left {
    display: table;
    float: left;
    margin-right: 20px;

    @include query($mobile) {
      margin-right: 30px;
    }
  }

  .header-right {
    float: right;
    position: relative;
    top: -2px;

    @include query($mobile) {
      position: static;
    }

    .header-options {
      position: absolute;
      top: 0;
      right: 0;

      @include query($mobile) {
        position: static;
      }
    }
  }
}

@include query($mobile) {
  // HEADER
  .header {

    &,
    .front-page & {
      margin: 0 -20px;
      padding: 8px 50px 5px 20px;
    }

    &.header-fixed {
      padding: 7px 45px;
    }

    .header-title {
      margin-top: 30px;
      font-size: 36px;
    }

    .main-menu {
      display: none;
    }

    .header-left,
    .header-title {
      display: block;
    }
  }
}
