/* HEADER */
.header {
  z-index: 10;
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header.header-fixed {
  position: fixed;
  top: -200px;
  right: 0;
  left: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 15px 25px;
  background: rgba(255,255,255,0.95);
  -webkit-box-shadow: 0 0 10px 0 #888;
  box-shadow: 0 0 10px 0 #888;

  .voog-search-visible & {
    display: none;
  }
}

.header-animated {
  -webkit-transition: top 0.3s ease-in-out;
  transition: top 0.3s ease-in-out;
}

.header-inner {
  margin: 0 auto;
  padding: 0;
  max-width: 940px;
}

.header-top {
  display: table;
}

.header-title {
  display: table-cell;
  margin: 0;
  margin-right: 13px;
  max-width: 810px;
  vertical-align: top;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1;
}

.editmode .header-title {
  min-width: 100px;
}

.header-title a {
  color: #333;
  color: rgba(0,0,0,0.8);
  text-decoration: none;
}

.header-title a:hover {
  color: #444;
  color: rgba(0,0,0,.75);
}

/* TOPBAR */
.topbar,
.topbar .main-menu {
  display: none;
}

@include query($mobile) {
  /* HEADER */
  .header {
    padding: 10px 50px 10px 0;
    margin-bottom: 30px;
  }

  .header.header-fixed {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .header-title {
    font-size: 36px;
    margin-top: 30px;
  }

  .header .main-menu {
    display: none;
  }

  .header-top,
  .header-title {
    display: block;
  }

  /* TOPBAR */
  .topbar {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 100%;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .topbar.fixed .toggle-btn {
    position: absolute;
    top: 0;
    right: 0;
  }

  .topbar .toggle-btn {
    position: relative;
    z-index: 3;
    float: right;
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    outline: none;
    border: none;
    background: #333;
    cursor: pointer;
  }

  .topbar .toggle-btn::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  .topbar .toggle-btn.open,
  .topbar .toggle-btn.open:hover {
    background: #333;
    opacity: 1;
  }

  .topbar .toggle-stripe {
    margin: 4px auto;
    width: 20px;
    height: 3px;
    border-radius: 5px;
    background: #fff;
  }

  .toggle-btn .close-icon {
    position: relative;
    top: 1px;
    display: none;
  }

  .toggle-btn.open .toggle-stripe {
    display: none;
  }

  .toggle-btn.open .close-icon {
    display: block;
  }

  .toggle-btn:hover {
    opacity: 0.4;
  }

  .topbar .expanded {
    position: absolute;
    right: 40px;
    display: block;
  }

  .topbar .main-menu {
    top: 40px;
    right: 0;
  }

  .topbar.fixed .lang-menu {
    position: absolute;
    top: 0;
    right: 40px;
    height: 40px;
  }

  .topbar.fixed .main-menu {
    position: absolute;
    top: 40px;
    right: 0;
  }
}
