// MENUS
.menu {
  position: relative;
  z-index: 2;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  list-style: none;
}

.menu li a {
  font-size: 12px;
  color: rgba(0,0,0,.5);
  text-decoration: none;
}

.menu li a:hover {
  color: rgba(0,0,0,.8);
  @include filter(grayscale(50%));

  &:before {
    background-color: transparent;
  }
}

.menu li.active a {
  color: rgba(0,0,0,.8);
  @include filter(grayscale(100%));
}

.menu li.active a:hover {
  color: rgba(0,0,0,.85);
}

.main-menu li {
  display: inline-block;
  margin-right: 5px;
}

.main-menu li a {
  text-transform: uppercase;
}

.main-menu li a.untranslated {
  color: #c33;
}

.main-menu .add-page-btn {
  margin-left: 5px;
}

.sub-menu li {
  padding-bottom: 10px;
  line-height: .85;
}

.sub-menu li:last-child {
  padding-bottom: 0;
}

.sub-menu li a {
  @include hyphenate(true);
  font-size: 16px;
  font-weight: 300;
  color: #888;
}

.sub-menu li a.untranslated {
  color: #c33;
}

.mobile-menu {
  position: relative;
  z-index: 4;
  display: none;
}

.lang-menu-toggle {
  position: relative;
  display: inline-block;
  height: 25px;
  padding: 0;
  margin-left: 10px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  vertical-align: top;
  cursor: pointer;
  background: none;
  border: 0;
  outline: none;

  .flags-disabled & {
    .ico-popover-toggle {
      position: relative;
      top: -1px;
      display: inline-block;
      font-size: 7.2px;
    }
  }

  // TODO: Remove if decided to not use or add back if it is going to be used anyway.
  // &.open {
  //   .ico-popover-toggle {
  //     left: 1px;
  //     @include transform(rotate(180deg));
  //   }
  // }


  .flags-enabled & {
    width: 31px;

    .lang-title,
    .ico-popover-toggle {
      display: none;
    }
  }
}

.lang-menu-toggle,
.lang-menu li a.lang-flag {
  &:before,
  &:after {
    position: absolute;
    top: 5px;
    left: 5px;
    display: block;
    width: 21px;
    height: 15px;
    content: '';

    .flags-disabled & {
      display: none;
    }
  }

  &:before {
    @include bg(#000);
  }

  &:after {
    background-repeat: no-repeat;
    opacity: .95;

    .no-svg & {
      background-image: url('../images/ico-flags.png');
    }

    .svg & {
      background-image: url('../assets/ico-flags.svg');
    }
  }
}

.lang-menu-popover {
  display: none;
}

.lang-menu-popover.expanded {
  position: absolute;
  top: 25px;
  left: 10px;
  z-index: 10;
  display: block;
  min-width: 138px;
  padding: 0;
  font-size: 12px;
  background: #fff;
  -webkit-border: 1px solid #e1e1e1;
  border: 1px solid #e1e1e1;

  .flags-disabled & {
    min-width: 121px;
  }
}

.lang-menu {
  position: relative;
  display: table-cell;
  height: 13px;
  line-height: 1.1;
  vertical-align: top;

  &.flags-disabled {
    .lang-flag {
      padding-left: 4px;

      &:before,
      &:after {
        display: none;
      }
    }
  }
}

.lang-menu li.active a,
.lang-menu li.active a:hover {
  color: #333;
}

.lang-menu li a {
  position: relative;
  display: block;
  padding: 6px 4px 4px 30px;
  color: #888;
  text-transform: uppercase;
}

.lang-menu li .edy-menu-langadd {
  padding-left: 10px;
}

.lang-menu .add-lang-btn {
  margin-top: 5px;
}

.lang-flag {
  &:after {
    background-position: -189px -60px;
  }
}

// Language flag icons positioning in the spritemap.
$flags:
// Albanian (Albania)
(sq, 0 0),
// Armenian (Armenia)
(hy, -21px 0),
// Bengali (Bangladesh)
(bn, -42px 0),
// Brazilian Portuguese (Brazil)
// (xx, -63px 0),
// Bulgarian (Bulgaria)
(bg, -84px 0),
// Chinese (China)
(zh, -105px 0),
// Croatian (Croatia)
(hr, -126px 0),
// Danish (Denmark)
(da, -147px 0),
// Czech (Czech Republic)
(cs, -168px 0),
// Estonian (Estonia)
(et, -189px 0),

// Finnish (Finland)
(fi, 0 -15px),
// French (France)
(fr, -21px -15px),
// Georgian (Georgia)
(ka, -42px -15px),
// German (Germany)
(de, -63px -15px),
// Greek (Greece)
(el, -84px -15px),
// Hungarian (Hungary)
(hu, -105px -15px),
// Icelandic (Iceland)
(is, -126px -15px),
// Hindi (India)
(hi, -147px -15px),
// Indonesian (Indonesia)
(id, -168px -15px),
// Iranian (Iran)
(fa, -189px -15px),

// Hebrew (Israel)
(he, 0 -30px),
// Italian (Italy)
(it, -21px -30px),
// Japanese (Japan)
(ja, -42px -30px),
// Korean (Korea, South)
(ko, -63px -30px),
// Latvian (Latvia)
(lv, -84px -30px),
// Lithuanian (Lithuania)
(lt, -105px -30px),
// Malaysian (Malaysia)
(ms, -126px -30px),
// Dutch (Netherlands)
(nl, -147px -30px),
// Norwegian (Norway)
(no, -168px -30px),
// Urdu (Pakistan)
(ur, -189px -30px),

// Filipino (Philippines)
(fil, 0 -45px),
// Polish (Poland)
(pl, -21px -45px),
// Romanian (Romania)
(ro, -42px -45px),
// Russian (Russia)
(ru, -63px -45px),
// Arabic (Saudi Arabia)
(ar, -84px -45px),
// Slovakian (Slovakia)
(sk, -105px -45px),
// Slovenian (Slovenia)
(sl, -126px -45px),
// Spanish (Spain)
(es, -147px -45px),
// Swedish (Sweden)
(sv, -168px -45px),
// Turkish (Turkey)
(tr, -189px -45px),

// Ukrainian (Ukraine)
(uk, 0 -60px),
// American English (United States of America)
(en, -21px -60px),
// French (Ivory Coast)
// (xx, -42px -60px),
// British English (Great Britian)
(en-gb, -63px -60px),
// Portuguese (Portuguese Republic)
(pt, -84px -60px),
// Canadian English (Canada)
// (xx, -105px, -60px),
// Serbian (Republic of Serbia)
(sr, -126px, -60px),
// Dutch, French, German (Kingdom of Belgium)
// (xx, -147px, -60px),
// Australian English (Commonwealth of Australia)
// (xx, -168px, -60px),
;

@each $flag, $pos in $flags {
  .lang-flag-#{$flag}:after {
    background-position: $pos;
  }
}

.lang-options {
  @include bg(#000, .09);

  .menu {
    .menu-item {
      padding: 7px 12px;
      margin-top: 8px;
      font-size: 13px;
    }
  }

  @include query($mobile) {
    display: none;
  }
}

.option-btn {
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  background: none;
  border: 0;
  @include color(#06b);

  &:hover {
    @include color(#06b, .8);
  }

  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  &:focus {
    outline: none;
  }

  .flags-disabled & {
    .disable-text {
      display: none;
    }
  }

  .flags-enabled & {
    .enable-text {
      display: none;
    }
  }

  .disable-text,
  .enable-text {
    &:first-letter {
      text-transform: capitalize;
    }
  }
}

@include query($mobile) {
  // MOBILE MENU
  .mobile-menu-toggler,
  #mobile-menu,
  #mobile-search {
    display: none;
  }

  // MENUS
  .main-menu {
    text-align: right;
  }

  .main-menu li {
    display: block;
  }

  .menu li {
    margin-right: 0;
  }

  .main-menu li a {
    display: inline-block;
    padding: 8px 10px 7px;
    font-size: 18px;
    color: #d7d7d7;
    vertical-align: top;
    background: #838383;
  }

  .main-menu li a:hover,
  .main-menu li.active a:hover {
    color: #fafafa;
  }

  .main-menu li.active a {
    font-weight: 400;
    color: #fff;
  }

  .lang-menu {
    display: none;
    padding-left: 0;

    &.flags-enabled {
      li a {
        font-size: 0;
        text-indent: -9999px;
      }
    }
  }

  .lang-menu .menu {
    position: relative;
    right: 0;
    display: inline-block;
    float: right;
    width: auto;
    height: auto;
    padding: 0 5px;
    background-color: #5e5e5e;
  }

  .lang-menu li {
    float: right;
  }

  .lang-menu li a {
    width: 21px;
    height: 15px;
    padding: 13px 5px 12px;
    opacity: .8;
    @include color(#fff);
  }

  .lang-menu li a:hover,
  .lang-menu li.active a,
  .lang-menu li.active a:hover {
    background-color: #838383;
    @include color(#fff, .5);
    opacity: 1;
  }

  .lang-menu li a.lang-flag, {
    &:before,
    &:after {
      top: 13px;
      left: 5px;
    }
  }

  .lang-menu li.active a.lang-flag,
  .lang-menu li.active a.lang-flag:hover {
    text-decoration: none;
    background-color: #5e5e5e;
  }

  .lang-menu li a:hover,
  .lang-menu li.active a:hover {
    top: 0;
    left: 0;
    margin: 0;
    background: #5e5e5e;
  }

  .lang-menu li.add-lang-btn {
    top: 0;
    left: 0;
    padding: 14px 10px 12px;
    margin: 0;
  }

  .lang-menu li.add-lang-btn a {
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    text-indent: 0;
  }

  .lang-menu li.add-lang-btn a:hover {
    background: inherit;
  }
}
