// MIXINS
@mixin hyphenate($boolean) {
  @if $boolean == true {
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    word-break: break-word;
  } @else {
    -moz-hyphens: none;
    -ms-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
    word-break: normal;
  }
}

// GENERAL
@mixin calc($property, $expression) {
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

// COLORS
@mixin bg($color, $opacity: 1) {
  @if $opacity == 1 {
    background-color: rgba($color, $opacity);
  } @else {
    background-color: $color;
    background-color: rgba($color, $opacity);
  }
}

@mixin color($color, $opacity: 1) {
  @if $opacity == 1 {
    color: rgba($color, $opacity);
  } @else {
    color: $color;
    color: rgba($color, $opacity);
  }
}

@mixin fill($color, $opacity: 1) {
  @if $opacity == 1 {
    fill: rgba($color, $opacity);
  } @else {
    fill: $color;
    fill: rgba($color, $opacity);
  }
}

// BORDERS
@mixin border($side, $width, $style, $color, $opacity: 1) {
  @if $side == 'all' {
    @if $opacity == 1 {
      border: $width $style rgba($color, $opacity);
    } @else {
      border: $width $style $color;
      border: $width $style rgba($color, $opacity);
    }
  } @else {
    @if $opacity == 1 {
      border-#{$side}: $width $style rgba($color, $opacity);
    } @else {
      border-#{$side}: $width $style $color;
      border-#{$side}: $width $style rgba($color, $opacity);
    }
  }
}

// PERSPECTIVE
@mixin perspective($value: 1000) {
  -webkit-perspective: $value;
  -webkit-backface-visibility: hidden;
}

// WEBKIT INPUT BUTTON STYLE RESET
@mixin inputiosreset {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}

// OPACITY
@mixin opacity($value) {
  $ie-value: $value*100;
  opacity: $value;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity="+$ie-value+")';
  filter: alpha(opacity=$ie-value);
}

// MEDIA QUERY
@mixin query($value: $tablet-1) {
  @media screen and (max-width: $value) {
    @content;
  }
}
