/* SEARCH */
// Styling rules for the site's search box. These rules affect the entire site.
.mobile-search-btns {
  display: none;

  @include query($mobile) {
    position: absolute;
    top: 0;
    right: 40px;
    display: block;
  }
}

.search {
  position: relative;
  vertical-align: middle;
  float: left;
  font-size: 0;

  .voog-search-visible & {
    @include bg($search-bg);
    display: inline-block;
  }

  .header-fixed &,
  &.hidden {
    display: none;
  }

  @include query($mobile) {
    position: absolute;
    top: 40px;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(255,255,255,.95);
  }
}

.search-form {
  position: relative;
  z-index: 20;

  .voog-search-visible & {
    @include bg($search-bg);
  }

  @include query($mobile) {
    display: none;

    .voog-search-visible & {
      display: block;
      background-color: $white;
      border-top: 2px solid rgba($black,.65);
      border-bottom: 2px solid rgba($black,.65);
    }
  }
}

.search-input {
  display: none;
  vertical-align: middle;
  width: 140px;
  margin: 0;
  padding: 8px 0 7px 9px;
  font-family: inherit;
  font-size: 12px;
  @include color($search-color, 0.67);
  background-color: transparent;
  @include box-sizing(border-box);
  border: none;

  .voog-search-visible & {
    display: block;
  }

  &:focus {
    outline: none;
  }

  // Removes the clear input button in IE11
  &::-ms-clear {
    display: none;
  }

  &::-webkit-input-placeholder {

  }

  @include query($mobile) {
    width: 100%;
    padding: 11px 40px 11px 20px;
    font-size: 16px;
  }
}

.search-btn {
  @extend %button;
  vertical-align: top;
  opacity: .35;
  line-height: 0;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }

  @include query($mobile) {
  }
}

.search-btn-submit,
.search-btn-open {
  position: relative;
  top: 1px;
  right: 0;
  display: inline-block;
  padding: 5px;

  .voog-search-visible & {
    display: none;
  }

  @include query($mobile) {
    top: 0;
    padding: 11px;
  }
}

.search-btn-reset,
.search-btn-close {
  display: none;
  padding: 9px;

  .voog-search-visible & {
    display: inline-block;
  }

  @include query($mobile) {
    padding: 13px 9px 9px;

    svg {
      width: 18px;
      height: 18px;
    }
  }
}

.search-btn-submit,
.search-btn-reset {
  .voog-search-visible & {
    position: absolute;
    top: 1px;
    right: 0;

    @include query($mobile) {
      top: 0;
    }
  }
}

.search-btn-submit {
  @include query($mobile) {
    .voog-search-visible & {
      display: block;
    }
  }
}

.search-btn-reset {
  @include query($mobile) {
    .voog-search-visible & {
      display: none;
    }
  }
}

.voog-search-modal {

}

.voog-search-modal-inner {
  position: absolute;
  top: 30px;
  right: 0;
  z-index: 999;
  display: none;
  width: 350px;
  max-height: 600px;
  padding: 15px 25px;
  text-align: left;
  font-size: 16px;
  @include bg($white,.95);
  box-shadow: 0 0 40px rgba($black,.1);
  overflow-x: hidden;
  overflow-y: auto;

  &.search-results-active {
    display: block;
  }

  @media screen and (min-width: 640px) and (max-height: 900px) {
    max-height: 700px;
  }

  @media screen and (min-width: 640px) and (max-height: 800px) {
    max-height: 600px;
  }

  @media screen and (min-width: 640px) and (max-height: 700px) {
    max-height: 500px;
  }

  @media screen and (min-width: 640px) and (max-height: 600px) {
    max-height: 400px;
  }

  @media screen and (min-width: 640px) and (max-height: 500px) {
    max-height: 300px;
  }

  @media screen and (min-width: 640px) and (max-height: 400px) {
    max-height: 200px;
  }

  @include query($mobile) {
    position: fixed;
    top: 87px;
    left: 0;
    bottom: 0;
    width: auto;
    max-height: none;
    padding: 15px 20px;
    @include box-sizing(border-box);
    box-shadow: none;

    &.no-content {
      bottom: auto;
    }
  }
}

.voog-search-modal-result {
  margin-top: 10px;
  margin-bottom: 10px;

  h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 16px;
    color: $black;

    a {
      text-decoration: none;
      font-weight: 600;
      @include color($search-color);

      &:hover {
        @include color($search-color, 0.8);
      }
    }
  }

  p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #818181;
  }

  em {
    font-style: normal;
    @include bg($search-highlight, 0.5);
    border-radius: 2px;
    padding: 0 0.2em;
  }
}
