// SEARCH
.container .search {
  position: relative;
  display: block;
  width: 220px;
  margin: 0;
}

.search .search-box {
  position: relative;
  max-width: 180px;
  padding: 0 10px 0 30px;
  overflow: hidden;
  border-top: 2px solid transparent;
  transition: border-top-color .1s, border-bottom-color .1s;
}

.search .search-box.search-box-focus {
  border-top: 2px solid rgba(0,0,0,.65);
}

#mobile-search .search {
  width: 100%;
}

#mobile-search .search-box.search-box-focus {
  border-top: 2px solid transparent;
}

#mobile-search .search .search-box {
  top: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  padding-right: 50px;
  padding-left: 25px;
}

.search .search-input {
  width: 100%;
  padding: 5px 0;
  margin: 0;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: rgba(0,0,0,.8);
  background: none;
  border: 0;
  outline: 0;
}

.search .search-input::-ms-clear {
  display: none;
}

#mobile-search .search {
  background-color: #fff;
  border-top: 2px solid rgba(0,0,0,.65);
  border-bottom: 2px solid rgba(0,0,0,.65);
}

.search .search-input:focus::-webkit-input-placeholder {
  color: rgba(0,0,0,.5);
  opacity: 1;
}

.search .search-input:focus:-moz-placeholder {
  color: rgba(0,0,0,.5);
  opacity: 1;
}

.search .search-input:focus::-moz-placeholder {
  color: rgba(0,0,0,.5);
  opacity: 1;
}

.search .search-input:focus:-ms-input-placeholder {
  color: rgba(0,0,0,.5);
  opacity: 1;
}

.search .search-input::-webkit-input-placeholder {
  color: rgba(0,0,0,.5);
  opacity: 0;
  transition: opacity .1s;
}

.search .search-input:-moz-placeholder {
  color: rgba(0,0,0,.5);
  opacity: 0;
  transition: opacity .1s;
}

.search .search-input::-moz-placeholder {
  color: rgba(0,0,0,.5);
  opacity: 0;
  transition: opacity .1s;
}

.search .search-input:-ms-input-placeholder {
  color: rgba(0,0,0,.5);
  opacity: 0;
  transition: opacity .1s;
}

#mobile-search .search .search-input {
  padding: 10px 0;
  font-size: 16px;
}

.search .search-submit,
.search .search-close {
  position: absolute;
  top: 50%;
  left: 0;
  display: none;
  width: 30px;
  height: 30px;
  margin-top: -15px;
}

#mobile-search .search-submit,
#mobile-search .search-close {
  position: absolute;
  right: 0;
  left: initial;
}

.search .search-submit {
  display: block;
  background: url('../images/search.png') no-repeat center center;
}

.search .search-close {
  background: url('../images/search-close.png') no-repeat center center;
}

.voog-search-visible {
  overflow: hidden;
}

.voog-search-visible .search .search-close {
  display: block;
}

.search:after {
  position: absolute;
  top: -2px;
  right: -30px;
  display: none;
  width: 0;
  height: 0;
  pointer-events: none;
  border-color: rgba(0,0,0,0);
  border-right-color: #e5e5e5;
  border-style: solid;
  border-width: 18px;
  content: ' ';
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .search:after {
    right: -20px;
  }
}

.voog-search-visible .search:after {
  display: block;
}

#mobile-search .search:after {
  display: none;
}

// SEARCH CONTAINER
.voog-search-container {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: -1;
  display: block;
  width: 0;
  margin-left: 240px;
  overflow: hidden;
  background: #e5e5e5;
  opacity: 0;
  -webkit-transition: opacity .1s ease-in, width .3s ease-in;
  transition: opacity .1s ease-in, width .3s ease-in;
}

.editmode .voog-search-container {
  bottom: 40px;
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .voog-search-container {
    margin-left: 235px;
  }
}

#mobile-search .voog-search-container {
  position: static;
  top: auto;
  width: 100%;
  margin-left: 0 !important;
}

.voog-mobile-search-visible #mobile-search .voog-search-container {
  z-index: 1000;
  display: block;
  opacity: 1;
}

.voog-search-visible .voog-search-container {
  z-index: 1000;
  display: block;
  width: 300px;
  opacity: 1;
  -moz-box-shadow: 10px 0 10px rgba(0,0,0,.05);
  -webkit-box-shadow: 10px 0 10px rgba(0,0,0,.05);
  box-shadow: 10px 0 10px rgba(0,0,0,.05);
}

.voog-search-inner {
  width: 300px;
  height: 100%;
  overflow: auto;
}

#mobile-search .voog-search-inner {
  width: auto;
}

.voog-search-loader {
  display: block;
  height: 100%;
}

.svg .voog-search-loader {
  background: url('../assets/loader.svg') no-repeat center center;
}

.voog-search-results {
  display: none;
  padding: 20px 0;
}

#mobile-search .voog-search-results {
  padding: 10px 0;
}

.voog-search-noresults {
  display: none;
  width: 100%;
  height: 100%;
}

.voog-search-noresults div {
  display: table-cell;
  padding: 40px;
  color: #848484;
  text-align: center;
  vertical-align: middle;
}

.voog-search-noresults.voog-search-noresults-visible {
  display: table;
}

.voog-search-result {
  padding: 12px 18px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0,0,0,.5);
}

.voog-search-result .voog-search-result-title {
  padding: 0 0 12px;
  margin: 0;
  font-size: 16px;
  color: rgba(0,0,0,.8);
}

.voog-search-result .voog-search-result-link {
  color: rgba(0,0,0,.6);
}

.voog-search-result .voog-search-result-link:hover {
  color: rgba(0,0,0,.6);
}

.voog-search-result .voog-search-result-content {
  padding: 0;
  margin: 0;
}

.voog-search-result em {
  font-style: normal;
  background: #f9ec5a;
}

.mobile-search-toggler {
  position: absolute;
  top: 0;
  right: 43px;
  z-index: 3;
  display: block;
  width: 33px;
  height: 43px;
  background: url('../images/search.png') no-repeat center center;
  background-size: 16px 16px;
  outline: 0;
}

.svg .mobile-search-toggler {
  background-image: url('../assets/search.svg');
}

body.mobilesearch-open {
  overflow: hidden;
}

.mobilesearch-open .mobile-search-toggler {
  background: none !important;
}

.mobilesearch-open .mobile-search-toggler:before,
.mobilesearch-open .mobile-search-toggler:after {
  position: absolute;
  top: 20px;
  left: 7px;
  display: block;
  width: 20px;
  height: 3px;
  background: #222;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  content: '';
}

.mobilesearch-open .mobile-search-toggler:before {
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mobilesearch-open .mobile-search-toggler:after {
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#mobile-search {
  position: fixed;
  top: 40px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: none;
  overflow: auto;
  background: #e5e5e5;
  -webkit-overflow-scrolling: touch;
}

.mobilesearch-open #mobile-search {
  display: block;
}

#mobile-search-results {
  position: absolute;
  top: 45px;
  right: 0;
  bottom: 0;
  left: 0;
}
