// SEARCH
.container .search {
  position: relative;
  display: block;
  width: 220px;
  margin: 0;
}

.search {
  .search-box {
    position: relative;
    max-width: 180px;
    padding: 0 10px 0 30px;
    overflow: hidden;
    border-top: 2px solid transparent;
    transition: border-top-color .1s, border-bottom-color .1s;

    &.search-box-focus {
      border-top: 2px solid rgba(0,0,0,.65);
    }
  }

  .search-input {
    width: 100%;
    padding: 5px 0;
    margin: 0;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: rgba(0,0,0,.8);
    background: none;
    border: 0;
    outline: 0;

    &::-ms-clear {
      display: none;
    }

    &::-webkit-input-placeholder,
    &:-moz-placeholder,
    &::-moz-placeholder,
    &-ms-input-placeholder {
      color: rgba(0,0,0,.5);
      opacity: 0;
      transition: opacity .1s;
    }

    &:focus {
      &::-webkit-input-placeholder,
      &:-moz-placeholder,
      &::-moz-placeholder,
      &-ms-input-placeholder {
        color: rgba(0,0,0,.5);
        opacity: 1;
      }
    }
  }

  .search-submit,
  .search-close {
    position: absolute;
    top: 50%;
    left: 0;
    display: none;
    width: 30px;
    height: 30px;
    margin-top: -15px;
  }

  .search-submit {
    display: block;
    background: url('../images/search.png') no-repeat center center;
  }

  .search-close {
    background: url('../images/search-close.png') no-repeat center center;
  }

  &:after {
    position: absolute;
    top: -2px;
    right: -30px;
    display: none;
    width: 0;
    height: 0;
    pointer-events: none;
    border-color: rgba(0,0,0,0);
    border-right-color: #e5e5e5;
    border-style: solid;
    border-width: 18px;
    content: ' ';
  }
}

#mobile-search .search {
  width: 100%;
  background-color: #fff;
  border-top: 2px solid rgba(0,0,0,.65);
  border-bottom: 2px solid rgba(0,0,0,.65);

  .search-box {
    top: 0;
    right: 0;
    left: 0;
    max-width: 100%;
    padding-right: 50px;
    padding-left: 25px;

    &.search-box-focus {
      border-top: 2px solid transparent;
    }
  }

  .search-input {
    padding: 10px 0;
    font-size: 16px;
  }

  .search-submit,
  .search-close {
    position: absolute;
    right: 0;
    left: initial;
  }
}

.voog-search-visible {
  overflow: hidden;

  .search .search-close {
    display: block;
  }

  .search:after {
    display: block;
  }

  .voog-search-container {
    z-index: 1000;
    display: block;
    width: 300px;
    opacity: 1;
    -moz-box-shadow: 10px 0 10px rgba(0,0,0,.05);
    -webkit-box-shadow: 10px 0 10px rgba(0,0,0,.05);
    box-shadow: 10px 0 10px rgba(0,0,0,.05);
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .search:after {
    right: -20px;
  }
}

#mobile-search .search:after {
  display: none;
}

// SEARCH CONTAINER
.voog-search-container {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: -1;
  display: block;
  width: 0;
  margin-left: 240px;
  overflow: hidden;
  background: #e5e5e5;
  opacity: 0;
  -webkit-transition: opacity .1s ease-in, width .3s ease-in;
  transition: opacity .1s ease-in, width .3s ease-in;

  .editmode & {
    bottom: 40px;
  }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .voog-search-container {
    margin-left: 235px;
  }
}

#mobile-search .voog-search-container {
  position: static;
  top: auto;
  width: 100%;
  margin-left: 0 !important;

  .voog-mobile-search-visible & {
    z-index: 1000;
    display: block;
    opacity: 1;
  }
}

.voog-search-inner {
  width: 300px;
  height: 100%;
  overflow: auto;
}

#mobile-search .voog-search-inner {
  width: auto;
}

.voog-search-loader {
  display: block;
  height: 100%;

  .svg & {
    background: url('../assets/loader.svg') no-repeat center center;
  }
}

.voog-search-results {
  display: none;
  padding: 20px 0;
}

#mobile-search .voog-search-results {
  padding: 10px 0;
}

.voog-search-noresults {
  display: none;
  width: 100%;
  height: 100%;

  div {
    display: table-cell;
    padding: 40px;
    color: #848484;
    text-align: center;
    vertical-align: middle;
  }

  &.voog-search-noresults-visible {
    display: table;
  }
}

.voog-search-result {
  padding: 12px 18px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(0,0,0,.5);

  .voog-search-result-title {
    padding: 0 0 12px;
    margin: 0;
    font-size: 16px;
    color: rgba(0,0,0,.8);
  }

  .voog-search-result-link {
    color: rgba(0,0,0,.6);

    &:hover {
      color: rgba(0,0,0,.6);
    }
  }

  .voog-search-result-content {
    padding: 0;
    margin: 0;
  }

  em {
    font-style: normal;
    background: #f9ec5a;
  }
}

.mobile-search-toggler {
  position: absolute;
  top: 0;
  right: 43px;
  z-index: 3;
  display: block;
  width: 33px;
  height: 43px;
  background: url('../images/search.png') no-repeat center center;
  background-size: 16px 16px;
  outline: 0;

  .svg & {
    background-image: url('../assets/search.svg');
  }
}

body.mobilesearch-open {
  overflow: hidden;
}

.mobilesearch-open .mobile-search-toggler {
  background: none !important;

  &:before,
  &:after {
    position: absolute;
    top: 20px;
    left: 7px;
    display: block;
    width: 20px;
    height: 3px;
    background: #222;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    content: '';
  }

  &:before {
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  &:after {
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

#mobile-search {
  position: fixed;
  top: 40px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: none;
  overflow: auto;
  background: #e5e5e5;
  -webkit-overflow-scrolling: touch;
}

.mobilesearch-open #mobile-search {
  display: block;
}

#mobile-search-results {
  position: absolute;
  top: 45px;
  right: 0;
  bottom: 0;
  left: 0;
}
