// SIDEBAR
.sidebar {
  display: inline-block;
  width: 100%;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  vertical-align: top;
}

.sidebar-left {
  max-width: 120px;

  .content-formatted h1 {
    margin: 0 0 3px;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
  }
}

.sidebar-header {
  padding-bottom: 7px;
}

@include query($tablet) {
  .sidebar-left {
    position: relative;
    z-index: 1;
    float: right;
    max-width: 95px;
    padding: 15px 5px 20px 15px;
    margin-bottom: 20px;
    margin-left: 20px;
    @include hyphenate(true);
    text-align: right;
    background: #e0e0e0;
  }

  .sidebar-right {
    display: block;
    float: right;
    max-width: 85%;
    padding-left: 15%;
    margin-top: 0;
    margin-bottom: 25px;
    text-align: right;

    .content-formatted {
      display: inline-block;
      width: auto;
      text-align: left;

      h1 {
        font-size: 35px;
      }
    }
  }
}
