// TOPBAR
.topbar,
.topbar .main-menu {
  display: none;
}

@include query($mobile) {
  .topbar {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 100%;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;

    &.fixed .toggle-btn {
      position: absolute;
      top: 0;
      right: 0;
    }

    .toggle-btn {
      position: relative;
      z-index: 3;
      float: right;
      width: 40px;
      height: 40px;
      padding: 0;
      margin: 0;
      cursor: pointer;
      background: #333;
      border: 0;
      outline: none;

      &::-moz-focus-inner {
        padding: 0;
        border: 0;
      }

      &.open,
      &.open:hover {
        background: #333;
        opacity: 1;
      }

      .close-icon {
        position: relative;
        top: 1px;
        display: none;
      }

      &.open {
        .toggle-stripe {
          display: none;
        }

        .close-icon {
          display: block;
        }
      }

      &:hover {
        opacity: .4;
      }
    }

    .toggle-stripe {
      width: 20px;
      height: 3px;
      margin: 4px auto;
      background: #fff;
      border-radius: 5px;
    }

    .expanded {
      position: absolute;
      right: 40px;
      display: block;
    }

    .main-menu {
      top: 40px;
      right: 0;
    }

    &.fixed {
      .lang-menu {
        position: absolute;
        top: 0;
        right: 40px;
        height: 40px;
      }

      .main-menu {
        position: absolute;
        top: 40px;
        right: 0;
      }
    }
  }
}
