/* GENERAL */
.cfx:after {
  display: table;
  clear: both;
  content: "";
}

body {
  margin: 0 auto;
  padding: 0;
  font: 400 20px/1.4 "Minion", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 25px;
}

.container a {
  text-decoration: none;
}
.container a:hover {
  opacity: 0.8;
}
.container a img {
  border: none;
}
.container .horizontal-line {
  width: 220px;
  height: 2px;
  margin-bottom: 12px;
  background: #333;
}
.content-formatted h1,
.content-formatted h2,
.content-formatted h3,
.content-formatted h4,
.content-formatted h5,
.content-formatted h6 {
  margin: 0 0 17px;
  /*font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.content-formatted h2,
.content-formatted h3,
.content-formatted h4,
.content-formatted h5,
.content-formatted h6 {
  text-transform: uppercase;
  color: #c33;
}
.content-formatted h1 {
  font-size: 36px;
  line-height: 1;
}
.content-formatted h2 {
  font-size: 24px;
}
.content-formatted h3,
.content-formatted h4,
.content-formatted h5,
.content-formatted h6 {
  font-size: 18px;
}

.content-formatted p {
  margin: 0 0 25px;
}
.content-formatted p:last-child {
  margin: 0;
}
.content-formatted a {
  color: #919191;
}
.content-formatted img {
  max-width: 100%;
  height: auto;
}
.content-formatted pre {
  overflow: auto;
  padding: 10px;
  background: #fafafa;
}

/* MENUS */
.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu li {
}
.menu li a {
  text-decoration: none;
}
.menu li.active a:hover {
  opacity: 1;
}

.mobile-menu {
  display: none;
}

.main-menu li {
  display: inline-block;
  color: #848484;
}
.main-menu li a {
  text-transform: uppercase;
  font-size: 12px;
  color: #848484;
}
.main-menu li.active a {
  font-weight: 700;
  color: #333;
}

.sub-menu li a {
  font-size: 16px;
  color: #848484;
}
.sub-menu li.active a {
  font-weight: 700;
}

.lang-menu-toggle {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 20px;
  height: 13px;
  margin-top: 5px;
  font-size: 0;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.lang-menu-toggle:hover {
}
.lang-menu-toggle:after,
.lang-menu li a.lang-flag:after{
  display: block;
  position: absolute;
  width: 20px;
  height: 13px;
  content: '';
  background-image: url('../images/flag-sprite.png');
  background-repeat: no-repeat;
}
.lang-menu-toggle:after {
  top: 0;
  left: 0;
}

.lang-menu {
  display: table-cell;
  vertical-align: top;
  position: relative;
  height: 13px;
  padding-left: 13px;
  line-height: 1.1;
}
.lang-menu-popover {
  display: none;
}
.lang-menu-popover.expanded {
  display: block;
  position: absolute;
  top: 25px;
  left: 10px;
  padding: 6px 0;
  min-width: 121px;
  font-size: 12px;
  background: #fff;
  -webkit-border: 1px solid #e1e1e1;
          border: 1px solid #e1e1e1;
}
.lang-menu .menu {
}
.lang-menu .untranslated {
}
.lang-menu .untranslated:hover {
}
.lang-menu li {
}
.lang-menu li:last-child {
}
.lang-menu li a {
  display: block;
  position: relative;
  padding: 5px 4px 3px 30px;
  text-transform: uppercase;
  color: #848484;
}
.lang-menu li a:hover,
.lang-menu li.active a {
  background: #f3f3f3;
}
.lang-menu .add-lang-btn {
  margin-top: 5px;
}
.lang-menu li .edy-menu-langadd {
  margin-left: 5px;
}
.lang-menu li a:after {
  top: 5px;
  left: 5px;
}
.lang-menu li.active a,
.lang-menu li.active a:hover {
  color: #fff;
  background: #333;
}

.sq:after { background-position: 0 0; }/*Albanian*/
.hy:after { background-position: -20px 0; }/*Armenia*/
.bn:after { background-position: -40px 0; }/*Bangladesh*/
.pt:after { background-position: -60px 0; }/*Brazil*/
.bg:after { background-position: -80px 0; }/*Bulgaria*/
.zh:after { background-position: -100px 0; }/*China*/
.hr:after { background-position: -120px 0; }/*Croatia*/
.da:after { background-position: -140px 0; }/*Denmark*/
.cs:after { background-position: -160px 0; }/*Czech Republic*/
.et:after { background-position: -180px 0; }/*Estonia*/

.fi:after { background-position: 0 -14px; }/*Finland*/
.fr:after { background-position: -20px -14px; }/*France*/
.ka:after { background-position: -40px -14px; }/*Georgia*/
.de:after { background-position: -60px -14px; }/*Germany*/
.el:after { background-position: -80px -14px; }/*Grecee*/
.hu:after { background-position: -100px -14px; }/*Hungary*/
.is:after { background-position: -120px -14px; }/*Iceland*/
.hi:after { background-position: -140px -14px; }/*India*/
.id:after { background-position: -160px -14px; }/*Indonesia*/
.fa:after { background-position: -280px -14px; }/*Iran*/

.he:after { background-position: 0 -27px; }/*Israel*/
.it:after { background-position: -20px -27px; }/*Italy*/
.ja:after { background-position: -40px -27px; }/*Japan*/
.ko:after { background-position: -60px -27px; }/*Korea, South*/
.lv:after { background-position: -80px -27px; }/*Latvia*/
.lt:after { background-position: -100px -27px; }/*Lithuania*/
.ms:after { background-position: -120px -27px; }/*Malaysia*/
.nl:after { background-position: -140px -27px; }/*Netherlands*/
.no:after { background-position: -160px -27px; }/*Norway*/
.ur:after { background-position: -280px -27px; }/*Pakistan*/

.fil:after { background-position: 0 -41px; }/*Philipines*/ /*tl?*/
.pl:after { background-position: -20px -41px; }/*Poland*/
.ro:after { background-position: -40px -41px; }/*Romania*/
.ru:after { background-position: -60px -41px; }/*Russia*/
.ar:after { background-position: -80px -41px; }/*Saudi Arabia*/
.lt:after { background-position: -100px -41px; }/*Slovakia*/
.sk:after { background-position: -120px -41px; }/*Slovenia*/
.es:after { background-position: -140px -41px; }/*Spain*/
.sv:after { background-position: -160px -41px; }/*Sweden*/
.tr:after { background-position: -180px -41px; }/*Turkey*/

.uk:after { background-position: 0px -54px; }/*Ukraine*/
.en:after { background-position: -20px -54px; }/*USA*/

/* HEADER */
.header {
  margin-top: 50px;
  margin-bottom: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.header-fixed {
  position: fixed;
  top: -200px;
  left: 0;
  right: 0;
  margin-top: 0;
  margin-bottom: 0;
  background: rgba(255,255,255,0.95);
  -webkit-box-shadow: 0 0 10px 0 #888;
          box-shadow: 0 0 10px 0 #888;
}
.header-animated {
  -webkit-transition:  top 0.3s ease-in-out;
          transition:  top 0.3s ease-in-out;
}
.header-inner {
  max-width: 940px;
  margin: 0 auto;
  padding: 13px 0;
}
.header-top {
  display: table;
}
.header-title {
  display: table-cell;
  vertical-align: top;
  min-width: 244px;
  max-width: 810px;
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1;
}
.header-title a {
  text-decoration: none;
  color: #333;
}
.header-title a:hover {
  opacity: 0.8;
}

/* TOPBAR */
.topbar,
.topbar .main-menu {
  display: none;
}

/* SIDEBAR */
.sidebar {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sidebar-left {
  max-width: 120px;
}
.sidebar-left .content-formatted h1 {
  margin: 0 0 3px;
  font-size: 16px;
  color: #333;
}

.sidebar-right {
  max-width: 323px;
  margin-top: 3px;
  font-size: 18px;
  color: #848484;
}
.sidebar-right .content-formatted h1 {
  margin: 0 0 14px;
  font: 400 20px/1.4 "Minion", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 50px;
  color: #cc3333;
  line-height: 1;
  letter-spacing: -1px;
}

/* CONTENT */
.content {
  margin-bottom: 30px;
}
.content-bottom {
  margin-left: 125px;
}
.content-body {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  max-width: 438px;
}
.content-first {
  margin-right: 47px;
  margin-bottom: 25px;
}
.content-first:first-child {
  max-width: 563px;
}

.content-header {
  margin-bottom: 30px;
}
.content-header h1 {
  margin: 0;
  font-size: 50px;
  line-height: 1;
}

/* COMMON PAGE */
.common-page .edy-img-container {
  margin-left: -80px;
}

/* BLOG & BLOG ARTICLE */
.blog-page .edy-img-container img,
.post-page .edy-img-container img {
  width: 100%;
}

.blog-page .post {
  margin-bottom: 55px;
}
.blog-page .post-header,
.blog-page .post-content {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}
.blog-page .post-header {
  max-width: 230px;
  margin-top: 3px;
}
.blog-page .post-title {
  margin: 0 0;
  text-transform: uppercase;
  font-size: 18px;
  color: #333;
}
.blog-page .post-title a {
  color: #333;
}
.blog-page .post-date {
  font-size: 12px;
  color: #848484;
}
.blog-page .post-content {
  max-width: 530px;
  max-width: -webkit-calc(100% - 410px);
  max-width:         calc(100% - 410px);
  margin-left: 65px;
}
.blog-page .edy-img-container {
  margin-left: -50px;
  margin-right: -110px;
}

.post-page .post-header {
  margin-bottom: 30px;
}
.post-page .post-title {
  margin: 0 0 10px;
  font-size: 50px;
  line-height: 1;
}
.post-page .post-date {
  font-weight: 700;
  font-size: 18px;
  color: #c33;
}
.post-page .post-content {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  max-width: 510px;
  margin-left: 70px;
}
.post-page .post-content .content-formatted p {
  margin: 0 0 20px;
}
.post-page .edy-img-container {
  margin-left: -70px;
}

.post-header {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.post-date {
  text-transform: uppercase;
}

/* TABLES */
.content-formatted table {
  border-collapse: collapse;
}
.content-formatted .overthrow {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.content-formatted .horizontal-scroll {
  border-left: 1px dashed #e6e6e6;
  border-right: 1px dashed #e6e6e6;
}
.content-formatted table td {
  padding: 10px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}



/* FORMS */
.container form {
  margin-bottom: 35px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
}
.form_field_error {
  font-weight: 700;
  color: #c33;
}
.form_field {
  margin-bottom: 15px;
}
.form_field label {
  display: block;
  padding: 2px 0 1px;
  color: #919191;
}
.form_field label,
.form_field_textfield,
.form_field_textarea,
.form_field_select,
.form_field_file,
.form_submit input {
  font-family: inherit;
  font-size: 16px;
}
.form_field_textfield,
.form_field_textarea,
.form_field_file {
  margin: 0;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form_field_textarea,
.form_field_textfield,
.form_submit input {
  -webkit-appearance: none;
  -webkit-border-radius:0;
  border-radius:0;
}
.form_field_textarea,
.form_field_textfield {
  border-bottom: 1px solid #dadada;
}
.form_field_textarea {
  overflow: auto;
  width: 30%;
  max-width: 100%;
  min-height: 86px;
  border-top: 1px solid #dadada;
}
.form_field_size_medium {
  width: 60%;
}
.form_field_size_large {
  width: 100%;
}
.form_submit input {
  margin: 0;
  padding: 5px 12px;
  color: #848484;
  background: #dadada;
  border: none;
  cursor: pointer;
}

/* COMMENTS */
.placeholder:before {
  content: "afasdgas" !important;
}
.comments {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  max-width: 312px;
  margin-left: 42px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.comments-title {
  margin: 0 0 7px;
  text-transform: uppercase;
  font-size: 18px;
}
.comment-form form {
  margin-bottom: 23px;
}
.comment-form .form_field {
  margin-bottom: 5px;
}
.comment-form .form_field_textfield,
.comment-form .form_field_textarea {
  width: 100%;
  padding: 0;
  line-height: 1.6;
}
.comment-form .form_field_textarea {
  min-height: 30px;
  padding: 6px 0px;
  line-height: 1.1;
}
.comment {
  margin-bottom: 15px;
  font-size: 12px;
}
.comment-author {
  font-weight: 700;
}
.comment-date {
  display: inline-block;
  color: #919191;
}

/* FOOTER */
.footer {
  margin-bottom: 30px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #333;
}

.blog-page .footer {
  max-width: 220px;
}

/* TABLET VIEW */
@media screen and (max-width: 999px) {
  /* SIDEBAR */
  .sidebar-left {
    float: right;
    max-width: 95px;
    margin: 0 -25px 25px 10px;
    padding: 17px 10px 9px 9px;
    text-align: right;
    background: #e0e0e0;
  }

  .sidebar-right {
    display: block;
    float: right;
    max-width: 345px;
    margin-top: 0;
    margin-bottom: 25px;
  }

  /* CONTENT */
  .content-bottom {
    clear: both;
    margin-left: 0;
  }
  .content-body {
    max-width: 100%;
  }
  .content-first {
    max-width: 582px;
    max-width: -webkit-calc(100% - 126px);
    max-width:         calc(100% - 126px);
    margin-right: 0;
  }

  /* COMMON PAGE */
  .common-page .content-body {
    display: block;
    max-width: 100%;
  }
  .common-page .edy-img-container {
    margin-left: 0;
  }

  /* BLOG & BLOG ARTICLE */
  .blog-page .post-content {
    max-width: 448px;
    max-width: -webkit-calc(100% - 271px);
    max-width:         calc(100% - 271px);
    margin-left: 35px;
  }

  .blog-page .edy-img-container {
    margin-left: -20px;
    margin-right: 0;
  }
  .post-page .post-content {
    display: block;
    width: auto;
    max-width: 100%;
  }

  /* COMMENTS */
  .comments {
    display: block;
    width: auto;
    max-width: 100%;
    margin-left: 70px;
  }
}

/* MOBILE VIEW */
@media screen and (max-width: 640px) {
  /* GENERAL */
  body {
    padding: 0 0 50px;
  }

  .container {
    margin: -20px auto 0;
  }

  .content-formatted .edy-img-container {
    margin: 0 -25px;
  }

  /* MENUS */
  .main-menu {
    text-align: right;
  }
  .main-menu li {
    display: block;
  }
  .main-menu li a {
    display: inline-block;
    vertical-align: top;
    padding: 8px 10px 7px;
    font-size: 18px;
    color: #d7d7d7;
    background: #848484;
  }
  .main-menu li.active a {
    font-weight: 400;
    color: #fff;
  }

  .lang-menu {
    display: none;
    padding-left: 0;
    background: #5c5c5c;
  }
  .lang-menu .menu {
    height: inherit;
  }
  .lang-menu li {
    float: right;
    width: 40px;
    height: 40px;
  }
  .lang-menu li a {
    padding: 0;
    text-indent: -9999px;
    font-size: 0;
    height: inherit;
  }
  .lang-menu li a:hover,
  .lang-menu li.active a {
    background: #5c5c5c;
  }
  .lang-menu li a:after {
    top: 14px;
    left: 10px;
  }
  .lang-menu li.active a,
  .lang-menu li.active a:hover {
    background: #5c5c5c;
  }

  /* HEADER */
  .header .main-menu {
    display: none;
  }
  .header-top,
  .header-title {
    display: block;
  }

  /* TOPBAR */
  .topbar {
    display: block;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .topbar .toggle-btn {
    float: right;
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 0;
    background: #848484;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .topbar .toggle-btn::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  .topbar .toggle-btn.open,
  .topbar .toggle-btn.open:hover {
    opacity: 1;
    background: #333;
  }
  .topbar .toggle-stripe {
    width: 20px;
    height: 4px;
    margin: 3px auto;
    background: #fff;
    border-radius: 5px;
  }
  .toggle-btn:hover {
    opacity: 0.4;
  }

  .topbar .expanded {
    display: block;
    position: absolute;
  }
  .topbar .main-menu {
    top: 40px;
    right: 0;
  }
  .topbar .lang-menu {
    right: 40px;
    height: 40px;
  }

  /* BLOG & BLOG ARTICLE */
  .blog-page .post-header,
  .blog-page .post-content {
    display: block;
    width: auto;
    max-width: 100%;
    margin-left: 0;
  }

  .blog-page .header-title {
    font-size: 36px;
  }

  .post-page .post-title {
    font-size: 30px;
  }
  .post-page .post-content {
    margin-left: 0;
  }

  /* FORMS */
  .content .form_field_textfield,
  .content .form_field_textarea,
  .content .form_field_file {
    width: 100%;
  }

  /* COMMENTS */
  .comments {
    margin-left: 0;
    margin-bottom: 35px;
  }
  .comment {
    font-size: 16px;
  }
}
