/* GENERAL */
.cfx:after {
  display: table;
  clear: both;
  content: ""; }
body {
  margin: 0 auto;
  padding: 0;
  color: #222;
  font: 300 20px/1.4 "Minion", "Helvetica Neue", Helvetica, Arial, sans-serif; }
.container {
  margin: 0 auto;
  padding: 0 25px;
  max-width: 940px; }
  .container a {
    text-decoration: none; }
    .container a img {
      border: none; }
  .container .horizontal-line {
    margin-bottom: 12px;
    width: 220px;
    height: 2px;
    background: #555;
    background: rgba(0,0,0,.65); }
.content-formatted { }
  .content-formatted h1,
  .content-formatted h2,
  .content-formatted h3,
  .content-formatted h4,
  .content-formatted h5,
  .content-formatted h6 {
    margin: 0 0 17px;
    font-weight: 300;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .content-formatted h2,
  .content-formatted h3,
  .content-formatted h4,
  .content-formatted h5,
  .content-formatted h6 {
    color: #c33;
    text-transform: uppercase; }
  .content-formatted h1 {
    font-size: 36px;
    line-height: 1; }
  .content-formatted h2 {
    font-size: 24px; }
  .content-formatted h3,
  .content-formatted h4,
  .content-formatted h5,
  .content-formatted h6 {
    font-size: 18px; }
  .content-formatted p {
    margin: 0 0 25px; }
    .content-formatted p:last-child {
      margin: 0; }
  .content-formatted a {
    color: #888;
    color: rgba(0,0,0,.5); }
    .content-formatted a:hover {
      color: #333;
      color: rgba(0,0,0,.8); }
  .content-formatted img {
    max-width: 100%;
    height: auto; }
  .content-formatted pre {
    overflow: auto;
    padding: 10px;
    background: #fafafa; }

/* MENUS */
.menu {
  position: relative; 
  z-index: 2;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Nexa', Arial, sans-serif; }
  .menu li {
    margin-right: 5px; }
    .menu li a {
      color: #888;
      color: rgba(0,0,0,.5);
      text-decoration: none;
      font-size: 12px; }
      .menu li a:hover {
        color: #333;
        color: rgba(0,0,0,.8); }
    .menu li.active a {
      color: #333;
      color: rgba(0,0,0,.8); }
      .menu li.active a:hover {
        color: #222;
        color: rgba(0,0,0,.85); }
.main-menu li {
  display: inline-block; }
  .main-menu li a {
    text-transform: uppercase; }
.main-menu .add-page-btn {
  margin-left: 5px; }
.sub-menu li {
  line-height: 1.2em; }
  .sub-menu li a {
    color: #888;
    font-weight: 300;
    font-size: 16px; }
.mobile-menu {
  display: none; }
.lang-menu-toggle {
  position: relative;
  display: inline-block;
  margin-top: 5px;
  width: 20px;
  height: 13px;
  outline: none;
  border: none;
  background: none;
  vertical-align: top;
  font-size: 0;
  cursor: pointer; }
  .lang-menu-toggle:after,
  .lang-menu li a.lang-flag:after{
    position: absolute;
    display: block;
    width: 20px;
    height: 13px;
    background-image: url('../images/flag-sprite.png');
    background-repeat: no-repeat;
    content: ''; }
  .lang-menu-toggle:after {
    top: 0;
    left: 0; }
.lang-menu-popover {
  display: none; }
.lang-menu-popover.expanded {
  position: absolute;
  top: 25px;
  left: 10px;
  z-index: 10;
  display: block;
  padding: 6px 0;
  min-width: 121px;
          border: 1px solid #e1e1e1;
  background: #fff;
  font-size: 12px;
  -webkit-border: 1px solid #e1e1e1; }
.lang-menu {
  position: relative;
  display: table-cell;
  padding-left: 13px;
  height: 13px;
  vertical-align: top;
  line-height: 1.1; }
  .lang-menu .menu { }
  .lang-menu .untranslated { }
  .lang-menu .untranslated:hover { }
  .lang-menu li { }
    .lang-menu li:last-child { }
    .lang-menu li.active a {
      background: #f3f3f3; }
      .lang-menu li.active a,
      .lang-menu li.active a:hover {
        background: #333;
        color: #fff; }
    .lang-menu li a {
      position: relative;
      display: block;
      padding: 5px 4px 3px 30px;
      color: #888;
      text-transform: uppercase; }
      .lang-menu li a:hover,
      .lang-menu li a:after {
        top: 5px;
        left: 5px; }
    .lang-menu li .edy-menu-langadd {
      margin-left: 5px; }
    .lang-menu .add-lang-btn {
      margin-top: 5px; }

.ar:after { background-position: -80px -41px; }/*Saudi Arabia*/
.bg:after { background-position: -80px 0; }/*Bulgaria*/
.bn:after { background-position: -40px 0; }/*Bangladesh*/
.cs:after { background-position: -160px 0; }/*Czech Republic*/
.da:after { background-position: -140px 0; }/*Denmark*/
.de:after { background-position: -60px -14px; }/*Germany*/
.el:after { background-position: -80px -14px; }/*Grecee*/
.en:after { background-position: -20px -54px; }/*USA*/
.es:after { background-position: -140px -41px; }/*Spain*/
.et:after { background-position: -180px 0; }/*Estonia*/
.fa:after { background-position: -280px -14px; }/*Iran*/
.fi:after { background-position: 0 -14px; }/*Finland*/
.fil:after { background-position: 0 -41px; }/*Philipines*/ /*tl?*/
.fr:after { background-position: -20px -14px; }/*France*/
.he:after { background-position: 0 -27px; }/*Israel*/
.hi:after { background-position: -140px -14px; }/*India*/
.hr:after { background-position: -120px 0; }/*Croatia*/
.hu:after { background-position: -100px -14px; }/*Hungary*/
.hy:after { background-position: -20px 0; }/*Armenia*/
.id:after { background-position: -160px -14px; }/*Indonesia*/
.is:after { background-position: -120px -14px; }/*Iceland*/
.it:after { background-position: -20px -27px; }/*Italy*/
.ja:after { background-position: -40px -27px; }/*Japan*/
.ka:after { background-position: -40px -14px; }/*Georgia*/
.ko:after { background-position: -60px -27px; }/*Korea, South*/
.lt:after { background-position: -100px -27px; }/*Lithuania*/
.lt:after { background-position: -100px -41px; }/*Slovakia*/
.lv:after { background-position: -80px -27px; }/*Latvia*/
.ms:after { background-position: -120px -27px; }/*Malaysia*/
.nl:after { background-position: -140px -27px; }/*Netherlands*/
.no:after { background-position: -160px -27px; }/*Norway*/
.pl:after { background-position: -20px -41px; }/*Poland*/
.pt:after { background-position: -60px 0; }/*Brazil*/
.ro:after { background-position: -40px -41px; }/*Romania*/
.ru:after { background-position: -60px -41px; }/*Russia*/
.sk:after { background-position: -120px -41px; }/*Slovenia*/
.sq:after { background-position: 0 0; }/*Albania*/
.sv:after { background-position: -160px -41px; }/*Sweden*/
.tr:after { background-position: -180px -41px; }/*Turkey*/
.uk:after { background-position: 0px -54px; }/*Ukraine*/
.ur:after { background-position: -280px -27px; }/*Pakistan*/
.zh:after { background-position: -100px 0; }/*China*/

/* HEADER */
.header {
  margin-top: 50px;
  margin-bottom: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; }
.header-fixed {
  position: fixed;
  top: -200px;
  right: 0;
  left: 0;
  margin-top: 0;
  margin-bottom: 0;
  background: rgba(255,255,255,0.95);
  -webkit-box-shadow: 0 0 10px 0 #888;
          box-shadow: 0 0 10px 0 #888; }
.header-animated {
  -webkit-transition:  top 0.3s ease-in-out;
          transition:  top 0.3s ease-in-out; }
.header-inner {
  margin: 0 auto;
  padding: 0;
  max-width: 940px; }
.header-top {
  display: table; }
.header-title {
  display: table-cell;
  margin: 0;
  min-width: 244px;
  max-width: 810px;
  vertical-align: top;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.1; }
  .header-title a {
    color: #333;
    color: rgba(0,0,0,0.8);
    text-decoration: none; }
    .header-title a:hover {
      color: #444;
      color: rgba(0,0,0,.75); }

/* TOPBAR */
.topbar,
.topbar .main-menu {
  display: none; }

/* SIDEBAR */
.sidebar {
  display: inline-block;
  width: 100%;
  vertical-align: top;
  font-family: 'Nexa', Arial, sans-serif; }
.sidebar-left {
  max-width: 120px; }
  .sidebar-left .content-formatted h1 {
    margin: 0 0 3px;
    color: #333;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    font-family: 'Nexa', Arial, sans-serif; }
.sidebar-right {
  float: right;
  margin-top: 3px;
  max-width: 323px;
  color: #888;
  font-size: 16px; }
  .sidebar-right .content-formatted h1 {
    margin: 0 0 14px;
    color: #cc3333;
    letter-spacing: -1px;
    font: 400 20px/1.4 "Minion", "Times New Roman", serif;
    font-size: 50px;
    line-height: 1; }

/* CONTENT */
.content {
  margin-bottom: 30px; }
.content-bottom {
  margin-left: 125px; }
.content-body {
  display: inline-block;
  max-width: 438px;
  width: 100%;
  vertical-align: top; }
.content-first {
  margin-right: 47px;
  margin-bottom: 25px; }
  .content-first:first-child {
    max-width: 563px; }
.content-header {
  margin-bottom: 45px; }
  .content-header h1 {
    margin: 0;
    letter-spacing: -3px;
    font-size: 50px;
    line-height: 1; }

/* COMMON PAGE */
.common-page .edy-img-container {
  margin-left: -80px; }
.common-page .content-second {
  margin-left: 125px; }

/* BLOG & BLOG ARTICLE */
.blog-page .edy-img-container img,
.post-page .edy-img-container img {
  width: 100%; }
.blog-page .post {
  margin-bottom: 55px; }
.blog-page .post-header,
.blog-page .post-content {
  display: inline-block;
  width: 100%;
  vertical-align: top; }
.blog-page .post-header {
  margin-top: 3px;
  max-width: 230px; }
.blog-page .post-title {
  margin: 0 0;
  color: #333;
  text-transform: uppercase;
  font-size: 18px; }
  .blog-page .post-title a {
    color: #333; }
.blog-page .post-date {
  color: #888;
  font-size: 12px; }
.blog-page .post-content {
  margin-left: 65px;
  max-width: 530px;
  max-width: -webkit-calc(100% - 410px);
  max-width:         calc(100% - 410px); }
.blog-page .edy-img-container {
  margin-right: -110px;
  margin-left: -50px; }
.post-page .post-header {
  margin-bottom: 30px; }
.post-page .post-title {
  margin: 0 0 10px;
  font-size: 50px;
  line-height: 1; }
.post-page .post-date {
  color: #c33;
  font-weight: 700;
  font-size: 18px; }
.post-page .post-content {
  display: inline-block;
  margin-left: 70px;
  max-width: 510px;
  width: 100%;
  vertical-align: top; }
  .post-page .post-content .content-formatted p {
    margin: 0 0 20px; }
.post-page .edy-img-container {
  margin-left: -70px; }
.post-header {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; }
.post-date {
  text-transform: uppercase; }

/* TABLES */
.content-formatted table {
  border-collapse: collapse; }
.content-formatted .overthrow {
  overflow: auto;
  -webkit-overflow-scrolling: touch; }
.content-formatted .horizontal-scroll {
  border-right: 1px dashed #e6e6e6;
  border-left: 1px dashed #e6e6e6; }
.content-formatted table td {
  padding: 10px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6; }

/* FORMS */
.container form {
  margin-bottom: 35px;
  font-size: 12px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; }
.form_field_error {
  color: #c33;
  font-weight: 700; }
.form_field {
  margin-bottom: 15px; }
  .form_field label {
    display: block;
    padding: 2px 0 1px;
    color: #919191; }
  .form_field label,
  .form_field_textfield,
  .form_field_textarea,
  .form_field_select,
  .form_field_file,
  .form_submit input {
    font-size: 16px;
    font-family: inherit; }
.form_field_textfield,
.form_field_textarea,
.form_field_file {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  outline: none;
  border: none; }
.form_field_textarea,
.form_field_textfield,
.form_submit input {
  -webkit-border-radius:0;
  border-radius:0;
  -webkit-appearance: none; }
.form_field_textarea,
.form_field_textfield {
  border-bottom: 1px solid #dadada; }
.form_field_textarea {
  overflow: auto;
  min-height: 86px;
  max-width: 100%;
  width: 30%;
  border-top: 1px solid #dadada; }
.form_field_size_medium {
  width: 60%; }
.form_field_size_large {
  width: 100%; }
.form_submit input {
  margin: 0;
  padding: 5px 12px;
  border: none;
  background: #dadada;
  color: #888;
  cursor: pointer; }

/* COMMENTS */
.placeholder:before {
  content: "afasdgas" !important; }
.comments {
  display: inline-block;
  margin-left: 42px;
  max-width: 312px;
  width: 100%;
  vertical-align: top;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; }
.comments-title {
  margin: 0 0 7px;
  text-transform: uppercase;
  font-size: 18px; }
.comment-form { }
  .comment-form form {
    margin-bottom: 23px; }
  .comment-form .form_field {
    margin-bottom: 5px; }
  .comment-form .form_field_textfield,
  .comment-form .form_field_textarea {
    padding: 0;
    width: 100%;
    line-height: 1.6; }
  .comment-form .form_field_textarea {
    padding: 6px 0px;
    min-height: 30px;
    line-height: 1.1; }
.comment {
  margin-bottom: 15px;
  font-size: 12px; }
.comment-author {
  font-weight: 700; }
.comment-date {
  display: inline-block;
  color: #919191; }

/* FOOTER */
.footer {
  margin-bottom: 30px;
  color: #333;
  color: rgba(0,0,0,.8);
  font-size: 12px;
  font-family: 'Nexa', Arial, sans-serif; }
.blog-page .footer {
  max-width: 220px; }

/* TABLET VIEW */
@media screen and (max-width: 999px) {
  /* HEADER */
  .header {}
    .header .header-inner {
      padding-left: 30px; }

  /* SIDEBAR */
  .content {
    position: relative; }
  .content-body {
    max-width: inherit; }
  .sidebar-left {
    float: right;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 20px 5px 10px 15px;
    max-width: 95px;
    background: #e0e0e0;
    text-align: right; }
  .sidebar-right {
    display: block;
    float: right;
    margin-top: 0;
    margin-bottom: 25px;
    padding-left: 15%;
    max-width: 85%;
    text-align: right; }
    .side-bar-right .content-formatted {
      display: inline-block;
      width: auto;
      text-align:left; }
  .sidebar-right .content-formatted h1 {
    font-size: 35px; }

  /* CONTENT */
  .content-bottom {
    clear: both;
    margin-left: 0; }
  .content-body {
    max-width: 100%; }
  .content-first {
    margin-right: 0;
    max-width: 582px;
    max-width: -webkit-calc(100% - 126px);
    max-width:         calc(100% - 126px); }

  /* COMMON PAGE */
  .common-page .content-body {
    display: block;
    max-width: 100%; }
  .common-page .content-second {
    margin-left: 0; }
  .common-page .edy-img-container {
    margin-left: 0; }

  /* BLOG & BLOG ARTICLE */
  .blog-page .post-content {
    margin-left: 35px;
    max-width: 448px;
    max-width: -webkit-calc(100% - 271px);
    max-width:         calc(100% - 271px); }
  .blog-page .edy-img-container {
    margin-right: 0;
    margin-left: -20px; }
  .post-page .post-content {
    display: block;
    max-width: 100%;
    width: auto; }

  /* COMMENTS */
  .comments {
    display: block;
    margin-left: 70px;
    max-width: 100%;
    width: auto; } }

/* MOBILE VIEW */
@media screen and (max-width: 640px) {

  /* GENERAL */
  body {
    padding: 0 0 50px; }
  .container {
    margin: -20px auto 0; }
  .content-formatted .edy-img-container {
    margin: 0 -25px; }

  /* MENUS */
  .main-menu {
    text-align: right; }
  .main-menu li {
    display: block; }
  .menu li {
    margin-right: 0; }
  .main-menu li a {
    display: inline-block;
    padding: 8px 10px 7px;
    background: #888;
    color: #d7d7d7;
    vertical-align: top;
    font-size: 18px; }
    .main-menu li a:hover,
    .main-menu li.active a:hover {
       color: #fafafa; }
  .main-menu li.active a {
    color: #fff;
    font-weight: 400; }
  .lang-menu {
    display: none;
    padding-left: 0;
    background: #5c5c5c; }
  .lang-menu .menu {
    height: inherit; }
  .lang-menu li {
    float: right;
    width: 40px;
    height: 40px; }
  .lang-menu li a {
    padding: 0;
    height: inherit;
    text-indent: -9999px;
    font-size: 0; }
  .lang-menu li a:hover,
  .lang-menu li.active a {
    background: #5c5c5c; }
  .lang-menu li a:after {
    top: 14px;
    left: 10px; }
  .lang-menu li.active a,
  .lang-menu li.active a:hover {
    background: #5c5c5c; }
  .lang-menu li a:hover,
  .lang-menu li.active a:hover {
    top: 0;
    left: 0;
    margin: 0;
    background: #888; }
  .lang-menu li.add-lang-btn {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0 10px; }
    .lang-menu li.add-lang-btn a {
      margin: 0;
      text-indent: 0;
      line-height: 50px; }
      .lang-menu li.add-lang-btn a:hover {
        background: inherit;
      }

  /* HEADER */
  .header .main-menu {
    display: none; }
  .header-top,
  .header-title {
    display: block; }

  /* TOPBAR */
  .topbar {
    display: block;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .topbar .toggle-btn {
    float: right;
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    outline: none;
    border: none;
    background: #888;
    cursor: pointer; }
  .topbar .toggle-btn::-moz-focus-inner {
    padding: 0;
    border: 0; }
  .topbar .toggle-btn.open,
  .topbar .toggle-btn.open:hover {
    background: #333;
    opacity: 1; }
  .topbar .toggle-stripe {
    margin: 3px auto;
    width: 20px;
    height: 4px;
    border-radius: 5px;
    background: #fff; }
  .toggle-btn:hover {
    opacity: 0.4; }
  .topbar .expanded {
    position: absolute;
    display: block; }
  .topbar .main-menu {
    top: 70px;
    right: 0; }
  .topbar .lang-menu {
    right: 40px;
    height: 40px; }

  /* BLOG & BLOG ARTICLE */
  .blog-page .post-header,
  .blog-page .post-content {
    display: block;
    margin-left: 0;
    max-width: 100%;
    width: auto; }
  .blog-page .header-title {
    font-size: 36px; }
  .post-page .post-title {
    font-size: 30px; }
  .post-page .post-content {
    margin-left: 0; }

  /* FORMS */
  .content .form_field_textfield,
  .content .form_field_textarea,
  .content .form_field_file {
    width: 100%; }

  /* COMMENTS */
  .comments {
    margin-bottom: 35px;
    margin-left: 0; }
  .comment {
    font-size: 16px; }
